classname always starts with a dot
.heading{
    color: rgb(165, 196, 120); 
 }
 .center{
     text-align: center;;
 }
 
 
 /* organize the code
 apply css
 */
 /* box model
     border => thickness, style, color
     padding => space inside the border
     marigns
 */
 
 .box{
     border: 5px solid lightgray;
     width: 300px;
     padding: 15px;
     border-radius:14px;
     margin: 10px auto;
     font-family: sans-serif;
 }
 .box-img{
     width: 100%;
     border-radius: 14px;
 }
 .bg{
     width: 670px;
     background-color: orangered;
     font-family: sans-serif;
     margin: 60px auto;
     color: white;
     padding: 120px 50px;
     border-radius: 16px;
 }
 .btn{
     background-color: white;
     border: none;
     padding: 16px 30px;
     font-size: 16px;
     border-radius: 40px;
 }
 
 .logo{
     height: 38px;
     margin-bottom: 24px;
 }
 .login{
     text-align: center;
     width: 360px;
     margin: 120px auto;
 
 }
 .input{
     width: 100%;
     margin-bottom: 10px;
     padding: 14px;
     box-sizing: border-box;
     border: 1px solid lightgray;
 }
 .login-btn{
     width: 100%;
     box-sizing: border-box;
     background-color: black;
     border: none;
     padding: 16px;
     color: white;
 }
 /* box-sizing: border-box; it ensures that the content is not going out of the parent element */
 
 
 .card{
     border: 1px solid lightgray;
     width: 270px;
     border-radius: 16px;
     font-family: sans-serif;
     margin: 20px auto;
 }
 .card-img{
     width: 100%;
     border-top-left-radius: 16px;
     border-top-right-radius: 16px;
 
 }
 .card-body{
     padding: 8px;
 }